
.anchorPanelLogowania {
    
    -fx-background-color: #f5f9fc;
    
}

.anchorpaneCzGrupy {
    -fx-background-color: #f5f9fc;   
}

.anchorpaneZadania {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
    -fx-border-color: #e5e5e5;
}

.anchorpaneCzGrupyRight {
        -fx-background-color: white;
}

.anchorpaneChat {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
    -fx-border-color: #e5e5e5;    
}

.progresBar {
    -fx-background-color: #5bbdcf;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
}

.anchorpaneZadanieWew {
    -fx-background-color: blue;
}

.comboboxProjekt {
    -fx-background-color: white;
    -fx-border-color: #f5f9fc;
    -fx-border-width: 2px;
}

.comboboxSprint {
    -fx-background-color: white;
    -fx-border-color: #f5f9fc;
    -fx-border-width: 2px;
}

.buttonLogowania {
    -fx-background-color: #5bbdcf;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.buttonCzGrupy {
    -fx-background-color: #5bbdcf;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.textfieldLogowania {
   -fx-background-color: white; 
   -fx-border-color: #3bd1ec;
}

.passwordfieldLogowania {
   -fx-background-color: white; 
   -fx-border-color: #3bd1ec;
}

.paneCzGrupyData {
   -fx-background-color: white;     
}

.vbox {
    -fx-background-color: black;
}

.tableview {
    
}

.textarea {
    
}

.datapicker {
    
}