
.anchorPane {
    
    -fx-background-color: #f5f9fc;
    
}

.anchorPaneZadania {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
    -fx-border-color: #e5e5e5;
}

.anchorPaneRight {
        -fx-background-color: white;
}

.anchorPaneChat {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
    -fx-border-color: #e5e5e5;    
}

.anchorPaneLogowaniaMini {
}

.imageviewLogowania {
    
}

.scrollPane {
    
}

.scrollPaneZadania {
    -fx-background-color: white;
    -fx-border-width: 1.5px;
    -fx-border-color: #e5e5e5;
}


.label {
    
}

.labelTytul {
    
}

.pane {
    
}

.progresBar {
    -fx-background-color: #5bbdcf;
    -fx-border-width: 1px;
    -fx-border-color: #e5e5e5;
}

.comboBox {
    -fx-background-color: white;
    -fx-border-color: #f5f9fc;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #5bbdcf;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.textField {
   -fx-background-color: white; 
   -fx-border-color: #3bd1ec;
}

.textArea {
    
}

.dataPicker {
    
}

.tableView {
    
}

.tableColumn {
    
}

.hyperLink {
    
}

.listView {
    
}